* {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.passport-size-img {
    max-width: 150px;
    max-height: 200px;
    border: 1px solid #ddd;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    display: block;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}